div.table-line-title
  div.table-item.number.center
    span #
  div.table-item.width180
    span Name
  div.table-item.width180
    span location
  div.table-item.width100
    span Meaning
  div.table-item.width280
    span Comment
div.table-line
  div.table-item.number.center
    span 1
  div.table-item.width180.highlight
    span Name
  div.table-item.width180
    span location
  div.table-item.width100
    span Meaning
  div.table-item.width360
    span Comment
  div.table-item.width80.highlight
    a Code View
div.table-line
  div.table-item.number.center
    span 2
  div.table-item.width180.highlight
    span Name
  div.table-item.width180
    span location
  div.table-item.width100
    span Meaning
  div.table-item.width360
    span Comment
  div.table-item.width80.highlight
    a Code View
div.table-line
  div.table-item.number.center
    span 3
  div.table-item.width180.highlight
    span Name
  div.table-item.width180
    span location
  div.table-item.width100
    span Meaning
  div.table-item.width360
    span Comment
  div.table-item.width80.highlight
    a Code View
div.table-line
  div.table-item.number.center
    span 4
  div.table-item.width180.highlight
    span Name
  div.table-item.width180
    span location
  div.table-item.width100
    span Meaning
  div.table-item.width360
    span Comment
  div.table-item.width80.highlight
    a Code View


