div.table-line-title
  div.table-item.number.center
    span #
  div.table-item.width180
    span Name
  div.table-item.width180
    span location
  div.table-item.width100
    span Meaning
  div.table-item.width280
    span Comment
div.table-line(v-repeat='v : collections.variables')
  div(onclick="select_table_line(this.parentNode)")
    div.table-item.number.center
      span {{$index + 1}}
    div.table-item.width180.highlight
      span {{$key}}
    div.table-item.width100.center
      span {{v}}
    div.table-item.width100.center
      span 追加
    div.table-item.arrow
      i.fa.fa-angle-down.icon
  div.children-table
    div.table-line-title
      div.table-item.width40
      div.table-item.number.center
        span #
      div.table-item.width180
        span location
      div.table-item.width100
        span Class
      div.table-item.width500
        span Comment
      div.table-item.width80
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 1
      div.table-item.width180
        span location/location1
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 2
      div.table-item.width180
        span location/location1
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View

div.table-line.selected
  div(onclick="select_table_line(this.parentNode)")
    div.table-item.number.center
      span 2
    div.table-item.width180.highlight
      span hoge 
    div.table-item.width100.center
      span 30
    div.table-item.width100.center
      span 追加
    div.table-item.arrow
      i.fa.fa-angle-up.icon
  div.children-table
    div.table-line-title
      div.table-item.width40
      div.table-item.number.center
        span #
      div.table-item.width180
        span location 
      div.table-item.width100
        span Class
      div.table-item.width500
        span Comment
      div.table-item.width80
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 1
      div.table-item.width180
        span location/location1 
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 2
      div.table-item.width180
        span location/location1 
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 3
      div.table-item.width180
        span location/location1 
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View
div.table-line
  div(onclick="select_table_line(this.parentNode)")
    div.table-item.number.center
      span 3
    div.table-item.width180.highlight
      span get 
    div.table-item.width100.center
      span 30
    div.table-item.width100.center
      span 追加
    div.table-item.arrow
      i.fa.fa-angle-down.icon
  div.children-table
    div.table-line-title
      div.table-item.width40
      div.table-item.number.center
        span #
      div.table-item.width180
        span location
      div.table-item.width100
        span Class
      div.table-item.width500
        span Comment
      div.table-item.width80
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 1
      div.table-item.width180
        span location/location1
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View
    div.table-line
      div.table-item.width40
      div.table-item.number.center
        span 2
      div.table-item.width180
        span location/location1
      div.table-item.width100
        span class
      div.table-item.width500
        span comment
      div.table-item.width80.highlight
        a Code View
