extends layout

block content
  section.app-wrapper
    // TODO:site-container内のものはdocument系ページ全てで使えるように切り出す
    div.site-container
      div.location-contents
        div.title
          span.team mf-new-wind
          i.fa.fa-angle-right
          span.repository android-fm
      div.app-container
        div.tab-contents
          ul
            li
              span Variable Names
            li
              span Function Names
            li
              span Class Names
            li.selected
              span Code View
        div.file-list-contents
          div.title
            span android-fm
          div.file-list
            ul
              li
                i.fa.fa-file-code-o
                span bin/hoge/hoge1.js
                i.fa.fa-angle-right
              li
                i.fa.fa-file-code-o
                span bin/hoge/hoge2.js
                i.fa.fa-angle-right
              li
                i.fa.fa-file-code-o
                span src/hoge/hoge1.js
                i.fa.fa-angle-right
              li
                i.fa.fa-file-code-o
                span test/hoge/hoge2.js
                i.fa.fa-angle-right
        div.right-contents
          div.file-location-contents
            div.file-location
              span.repository android-fm
              i.fa.fa-angle-right
              span.directory bin
              i.fa.fa-angle-right
              span.directory hoge
              i.fa.fa-angle-right
              span.current hoge1.js

          div.file-details
          div.search-box
          div.codeview-contents
