extends layout

block content
  section.app-wrapper
    // TODO:site-container内のものはdocument系ページ全てで使えるように切り出す
    div.site-container
      div.location-contents
        div.title
          span.team mf-new-wind
          i.fa.fa-angle-right
          span.repository android-fm
      div.app-container
        div.tab-contents
          ul
            li
              span Variable Names
            li
              span Function Names
            li
              span Class Names
            li.selected
              span Code View
        div.file-list-contents
        div.file-location-contents
        div.file-details
        div.search-box
        div.codeview-contents
