footer
  div.site-container.h-box
    a.wrapper(href='http://www.mobilefactory.jp/' target='_blank')
      img.logo(src='/images/footer_logo_dummy.png')
    a.wrapper(href='/')
      span.sitemap トップ
    a.wrapper(href='/introduction')
      span.sitemap 概要
    a.wrapper(href='')
      span.sitemap 利用規約
    p.wrapper
      small &copy; 2015 Mobile Factory All Rights Reserved.
