header(v-component='header' v-with='avatar')
div.blue-board
  
script#header_component(type='x-template')
  div.site-container.h-box
    a.wrapper(href='/')
      div.title
        h1 Doctor NaminG
        img.logo(src='/images/header_logo.png')
    a.btn.github(href='/auth/github') Github
    div.avatar(v-show='github')
      img.face.hide(src='{{github.avatar_url}}')
      span.name {{github.name}}
      span.repo Repositories {{github.public_repos}}
      nav
        ul.smart-list
          a.wrapper(href='/repo/{{github.login}}')
            li
              i.fa.fa-github-square.icon
              span Repositories
          a.wrapper(href='/logout')
            li
              i.fa.fa-sign-out.icon
              span Sign Out
        div.projection
