header(v-component='header')
  div.site-container.h-box
    a.wrapper(href='')
      div.title
        h1 Doctor NaminG
        img.logo(src='/images/header_logo.png')
    a.btn.github(href='/auth/github') Github
    div.avatar
      img.face(src='/images/avatar_dummy.png')
      span.name Kazuki Matsushita
      span.repo Repositories 70
    nav
      ul.smart-list
        a.wrapper(href='')
          li
            i.fa.fa-user.icon
            span Profile
        a.wrapper(href='')
          li
            i.fa.fa-github-square.icon
            span Repositories
        a.wrapper(href='')
          li
            i.fa.fa-cog.icon
            span Settings
        a.wrapper(href='')
          li
            i.fa.fa-sign-out.icon
            span Sign Out
      div.projection
