header(v-component='header' v-with='avatar')
  
script#header_component(type='x-template')
  div.site-container.h-box
    a.wrapper(href='/')
      div.title
        h1 Doctor Naming
        img.logo(src='/images/header_logo.png')
    a.btn.btn-base.github(href='/auth/github' v-show='!github') Sign in
    div.avatar(v-if='github')
      img.face(v-attr='src: github.avatar_url + "&s=45"')
      span.name {{github.display_name}}
      span.repo Repositories {{github.public_repos}}
      nav
        ul.smart-list
          a.wrapper(href='/repo/{{github.user_name}}')
            li
              i.fa.fa-list.icon
              span Your Repositories
          a.wrapper(href='/select_repo')
            li
              i.fa.fa-check-square-o.icon
              span Add Repositories
          a.wrapper(href='/logout')
            li
              i.fa.fa-sign-out.icon
              span Sign Out
        div.projection
