extends layout

block content
  section.app-wrapper
    div.site-container
      div.title-content
        span.font26px(v-cloak) Welcome, {{avatar.github.login}}
      div.app-container
        div.index-contents
          div.title
            span Favorite repositories : 3
          div.table
            div.table-line-title
              div.table-item.number
                span #
              div.table-item.width180
                span Team Name
              div.table-item.width280
                span Repository Name
              div.table-item.width140
                span Author
              div.table-item.width140
                span Update Date
              div.table-item.width80
                span Load
              div.table-item.width20
            div.table-line
              div.table-item.number
                span 1
              div.table-item.width180
                span mf-new-wind
              div.table-item.width280
                span Repository Name
              div.table-item.width140
                span Author
              div.table-item.width140
                span Update Date
              div.table-item.width80
                span 
              div.table-item.width20
            div.table-line-selected
              div.table-item.number
                span 2
              div.table-item.width280
                span Repository
              div.table-item.width180
                span Author
              div.table-item.width140
                span Update Date
              div.table-item.width20
          div.select-repository-footer
            span Selected repositories: 12




