extends layout

block content
  header
    div.site-container.h-box
      a.wrapper(href='')
        div.title
          h1 Doctor NaminG
          img.logo(src='/images/header_logo.png')
      a.btn.github(href='/auth/github') Github
      div.avatar
        img.face(src='/images/avatar_dummy.png')
        span.name Kazuki Matsushita
        span.repo Repositories 70
      nav
        ul.smart-list
          a.wrapper(href='')
            li
              i.fa.fa-user.icon
              span Profile
          a.wrapper(href='')
            li
              i.fa.fa-github-square.icon
              span Repositories
          a.wrapper(href='')
            li
              i.fa.fa-cog.icon
              span Settings
          a.wrapper(href='')
            li
              i.fa.fa-sign-out.icon
              span Sign Out
        div.projection
  section.app-wrapper
    div.site-container#DNG
      h2 Select repositories
      div.app-container
  footer
    div.site-container.h-box
      a.wrapper(href='' target='_blank')
        img.logo(src='/images/footer_logo_dummy.png')
      a.wrapper(href='')
        span.sitemap トップ
      a.wrapper(href='')
        span.sitemap 概要
      a.wrapper(href='')
        span.sitemap 利用規約
      p.wrapper
        small &copy; 2015 Mobile Factory All Rights Reserved.
      
  script(type='text/javascript' src='javascripts/bundle.js')
