extends layout

block content
  section.app-wrapper
    div.site-container
      div.app-title
        span.font26px Add new repositories
      div.app-container
        div.app-left(v-component='teams' v-with='avatar')
        include ./teams.jade
        div.app-right(v-component='select_repos' v-with='repos : repos')
        script#select_repos_component(type='x-template')
          div.select-repository
            div.location-title
              span.highlight {{repos[0].owner.login}}
              i.fa.fa-angle-right
              span Select repository
              div.right-btn
                a.btn.btn-base(href='/select_repo') Select Repository
            div.table
              div.table-line-title
                div.table-item.number.center
                  span #
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
                  input(type="checkbox",id="select-all").css-checkbox
                  label(for="select-all").css-label
              include ./test_table_user.jade
