extends layout

block content
  header
    div.site-wrapper.h-box
      div.title
        h1 Doctor NaminG
        img.logo(src='/images/header_logo.png')
      a.btn.github(href='') Github
      div.avatar
        img.face(src='/images/avatar_dummy.png')
        span.name Kazuki Matsushita
        span.repo Repositories 70
  div#DNG
  footer
  script(type='text/javascript' src='javascripts/bundle.js')
