extends layout

block vars
  - var subtitle = 'サービス紹介'

block content
  section.app-wrapper
    div.site-container
      div.app-title
        span.font26px Introduction
      div.app-container
        div.tab-menu
          ul
            li.selected
              span Dr.Naming とは
        div#comming-soon
          script(type='text/javascript' src='http://nakamurahiroki.com/coming/gen.js')
          script(language="JavaScript").
            bpPlay("http%3A%2F%2Fwww%2Edr%2Dnaming%2Ecom","Dr%2ENaming","%E6%96%B0%E5%8F%82%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2","Google","%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA","100000","New%20Wind","%E9%96%8B%E7%99%BA%E8%80%85%E3%81%8C%E3%81%98%E3%82%83%E3%81%B6%E3%81%98%E3%82%83%E3%81%B6%E3%81%8A%E9%87%91%E3%82%92%E7%A8%BC%E3%81%92%E3%82%8B")
      div#intro-start
        p.intro-description さあ、始めよう。
        a.btn.github-login(href='/auth/github')
          i.fa.fa-github-square
          span Githubでログイン
        p.github-description Dr.Namingを利用するには<br>GitHubのアカウントが必要です。
