extends layout

block vars
  - var subtitle = 'サービス紹介'

block content
  section.app-wrapper
    div.site-container
      div.app-title
        span.font26px Introduction
      div.app-container
        div.tab-menu
          ul
            li.selected
              span Dr.NaminG とは
        div#comming-soon
          script(type='text/javascript' src='http://nakamurahiroki.com/coming/gen.js')
          script(language="JavaScript").
            bpPlay("http%3A%2F%2Flocalhost%3A3000%2F","Dr%2E%20Naming","%E3%81%8A%E3%81%BE%E3%81%88","%E6%96%B0%E3%81%9F%E3%81%AA%E9%A2%A8","%EF%BC%9F%EF%BC%9F","1000","Kazuma%20Miura","%E9%96%8B%E7%99%BA%E8%80%85%E3%81%8C%E3%81%98%E3%82%83%E3%81%B6%E3%81%98%E3%82%83%E3%81%B6%E3%81%8A%E9%87%91%E3%82%92%E7%A8%BC%E3%81%92%E3%82%8B")
      div#intro-start
        p.intro-description さあ、始めよう。
        a.btn.github-login(href='/auth/github')
          i.fa.fa-github-square
          span Githubでログイン
        p.github-description Dr.NaminGを利用するには<br>GitHubのアカウントが必要です。
