doctype html
html
  head
    title= title
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body#DN
    
    include ./header.jade
    
    block content
      
    include ./footer.jade
    
    script(type='text/javascript' src='/javascripts/bundle.js')
