extends layout

block content
  section
    div.top-contents
      h1 Doctor Naming
      //- img.background(src='/images/login_background_title.jpg')
      img.logo(src='/images/login_logo_title.png')
      p.description This is a very fun srvice<br>for programmers.
    div.center-contents
      p.site-description Dr.NaminGはエンジニアのために、<br>GitHubと連携して "無駄をなくす"<br>開発支援サービスです。
      div.github-contents
        a.btn.github-login(href='') Githubでログイン
        p.github-description Dr.NaminGを利用するには<br>GitHubのアカウントが必要です。
      div.doctor-naming-detail
        a.btn.text(href='') Dr.NaminGについて詳しく知る
    div.bottom-contents
      div
        p.support Support
        img.github-logo(src='/images/login_logo_github.png')
        img.perl-logo(src='/images/login_logo_perl.png')
        img.java-logo(src='/images/login_logo_java.png')
        img.js-logo(src='/images/login_logo_js.png')
        img.css-logo(src='/images/login_logo_css.png')
      div
        p.share Share
        a.btn.twitter-follow(href='') Follow @dr_naming
        a.btn.facebook-good(href='') いいね！
        a.btn.facebook-share(href='') シェア
        p.facebook-description 1,551,222人が「いいね！」と言っています。「いいね！」をくりっくして、友達に知らせましょう。