extends layout

block content
  section
    div.title-dr
      h1 Doctor Naming
      //- img.background(src='/images/login_background_title.jpg')
      img.logo(src='/images/login_logo_title.png')
      p.description This is a very fun srvice<br>for programmers.