extends layout

block vars
  - var subtitle = 'トップ'

block content
  section
    div.top-contents
      div.contents
        img.logo(src='/images/login_logo_title.png', alter="Doctor Naming")
        p.font20px This is a very fun service<br>for programmers.
    div.center-contents
      div.contents
        p.site-description Dr.NaminGはエンジニアのために、<br>GitHubと連携して "無駄をなくす"<br>開発支援サービスです。
        div.github-contents
          a.btn.github-login(href='/auth/github') 
            i.fa.fa-github-square
            span Githubでログイン
          p.github-description Dr.NaminGを利用するには<br>GitHubのアカウントが必要です。
        div.doctor-naming-detail
          a.btn.text(href='/introduction') Dr.NaminGについて詳しく知る
    div.bottom-contents
      div.contents
        div.support-contents
          p.title Support
          div.logos
            img.logo(src='/images/login_logo_github.png', alter="github")
            img.logo(src='/images/login_logo_perl.png', alter="perl")
            img.logo(src='/images/login_logo_java.png', alter="java")
            img.logo(src='/images/login_logo_js.png', alter="javascript")
            img.logo(src='/images/login_logo_css.png', alter="css")
        div.share-contents
          p.title Share
          div.twitter 
            <a href="https://twitter.com/dr_naming" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-dnt="true">@dr_namingさんをフォロー</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-dnt="true">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
