extends layout

block content
  section.app-wrapper
    // TODO:site-container内のものはdocument系ページ全てで使えるように切り出す
    div.site-container
      div.location-contents
        div.title
          span.team mf-new-wind
          i.fa.fa-angle-right
          span.repository android-fm
      div.app-container
        div.tab-menu
          ul
            li.selected
              span Variable Names
            li
              span Function Names
            li
              span Class Names
            li
              span Code View
        div.repo
          include ./repo_variables.jade
  script(type="text/javascript").
    function select_table_line(_this) {
      if(_this.className.match('selected')){
        _this.className='table-line';
        _this.getElementsByTagName('i')[0].className='fa fa-angle-down icon';
      }
      else{
        _this.className='table-line selected';
        _this.getElementsByTagName('i')[0].className='fa fa-angle-up icon';
      }
    }
