div.team-type 
  span.font16px 個人
div.team
  div.team-content
    span.font18px {{avatar.github.user_name}}
    span.font12px Repositories 12
  div.team-icon
    img(src='{{avatar.github.avatar_url}}')
  div.arrow
    span >
div.team-type 
  span.font16px チーム
div.team
  div.team-content
    span.font18px mf-new-wind
    span.font12px Repositories 12
  div.team-icon
    img(src='/images/avatar_dummy.png')
  div.arrow
    span >
div.team.selected
  div.team-content
    span.font18px mf-new-wind
    span.font12px Repositories 12
  div.team-icon
    img(src='/images/avatar_dummy.png')
  div.arrow
    span >
div.team
  div.team-content
    span.font18px mf-new-wind
    span.font12px Repositories 12
  div.team-icon
    img(src='/images/avatar_dummy.png')
  div.arrow
    span >
