script#teams_component(type='x-template')
  div.team-type
    span.font16px 個人
  div.team(v-on='click: tabTeam')
    div.team-content
      span.font18px {{github.user_name}}
      span.font12px Repositories 12
    div.team-icon
      img(v-attr='src: github.avatar_url')
    div.arrow
      i.fa.fa-angle-right.icon
  div.team-type 
    span.font16px チーム
  div.team(v-repeat='orgs' v-on='click: tabTeam(orgs[$index].name)')
    div.team-content
      span.font18px {{orgs[$index].name}}
      span.font12px Repositories {{$index}}
    div.team-icon
      img(v-attr='src: orgs[$index].avatar_url')
    div.arrow
      i.fa.fa-angle-right.icon
//- div.team.selected
//-   div.team-content
//-     span.font18px mf-new-wind
//-     span.font12px Repositories 12
//-   div.team-icon
//-     img(src='/images/avatar_dummy.png')
//-   div.arrow
//-     i.fa.fa-angle-right.icon
//- div.team
//-   div.team-content
//-     span.font18px mf-new-wind
//-     span.font12px Repositories 12
//-   div.team-icon
//-     img(src='/images/avatar_dummy.png')
//-   div.arrow
//-     i.fa.fa-angle-right.icon
