div.table-line(v-repeat='repos')
  div.table-item.number.center
    span {{$index + 1}}
  div.table-item.width180
    span {{repos[$index].name}}
  div.table-item.width180
    span {{repos[$index].owner.login}}
  div.table-item.width180
    span Update Date
  div.table-item.center.width60
    i.fa.fa-check.icon
  div.table-item.arrow
    i.fa.fa-angle-right.icon
//- div.table-line
//-   div.table-item.number.center
//-     span 2
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     i.fa.fa-exclamation-triangle.icon
//-       span 12
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-2").css-checkbox
//-     label(for="sb-2").css-label.fav
//-   div.table-item.arrow
//-     i.fa.fa-angle-right.icon
//- div.table-line-selected
//-   div.table-item.number.center
//-     span 3
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     span !!!!!
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-3").css-checkbox
//-     label(for="sb-3").css-label.fav
//-   div.table-item.center.number
//-     span >
//- div.table-line
//-   div.table-item.number.center
//-     span 4
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     span !!!!!
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-4").css-checkbox
//-     label(for="sb-4").css-label.fav
//-   div.table-item.center.number
//-     span >
//- div.table-line
//-   div.table-item.number.center
//-     span 5
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     span !!!!!
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-5").css-checkbox
//-     label(for="sb-5").css-label.fav
//-   div.table-item.center.number
//-     span >
//- div.table-line
//-   div.table-item.number.center
//-     span 6
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     span !!!!!
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-6").css-checkbox
//-     label(for="sb-6").css-label.fav
//-   div.table-item.center.number
//-     span >
//- div.table-line
//-   div.table-item.number.center
//-     span 7
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     span !!!!!
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-7").css-checkbox
//-     label(for="sb-7").css-label.fav
//-   div.table-item.center.number
//-     span >
//- div.table-line
//-   div.table-item.number.center
//-     span 8
//-   div.table-item.width180
//-     span Repository
//-   div.table-item.width180
//-     span Author
//-   div.table-item.width140
//-     span Update Date
//-   div.table-item.center.width60
//-     span !!!!!
//-   div.table-item.center.width40
//-     input(type="checkbox",id="sb-8").css-checkbox
//-     label(for="sb-8").css-label.fav
//-   div.table-item.center.number
//-     span >
