extends layout

block content
  section.app-wrapper
    div.site-container
      div.app-title
        span.font26px Add new repositories
      div.app-container
        div.app-left
          div.team-type 
            span.font16px 個人
          div.team
            div.team-content
              span.font18px mf-new-wind
              span.font12px Repositories 12
             div.team-icon
              img(src='/images/avatar_dummy.png')
            div.arrow
              span >
          div.team-type 
            span.font16px チーム
          div.team
            div.team-content
              span.font18px mf-new-wind
              span.font12px Repositories 12
             div.team-icon
              img(src='/images/avatar_dummy.png')
            div.arrow
              span >
          div.team.selected
            div.team-content
              span.font18px mf-new-wind
              span.font12px Repositories 12
             div.team-icon
              img(src='/images/avatar_dummy.png') 
            div.arrow
              span >
        div.app-right
          div.select-repository
            div.location-title
              span.highlight mf-new-wind
              span  > Select repository
            div.table
              div.table-line-title
                div.table-item.number
                  span #
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 1
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line-selected
                div.table-item.number
                  span 2
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 3
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 4
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 5
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 6
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 7
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 8
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 9
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
              div.table-line
                div.table-item.number
                  span 10
                div.table-item.width280
                  span Repository
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.width20
            div.select-repository-footer
              span Selected repositories: 12
