extends layout

block content
  section.app-wrapper
    div.site-container
      div.app-title
        span.font26px Select repository
      div.app-container
        div.app-left
          include ./teams.jade
        div.app-right
          div.select-repository
            div.location-title
              span.highlight mf-new-wind
              span  > Select repository
            div.table
              div.table-line-title
                div.table-item.number.center
                  span #
                div.table-item.width180
                  span Repository Name
                div.table-item.width180
                  span Author
                div.table-item.width140
                  span Update Date
                div.table-item.center.width60
                  span Status
                div.table-item.center.width40
                  span Fav 
                div.table-item.width20
              include ./test_table_user.jade
            div.select-repository-footer
