@import "style";

section {
  .location-contents {
    padding: 15px 15px 15px 0;

    .title {
      font-size: 24px;
      //TODO font

      .team {
        color: @color-white;
      }
      .repository {
        margin-left: 5px;
      }
    }
  }

  .app-container {
    .header {

    }
  }
}