
@import "style";

section {
  margin-top: -100px;

  .top-contents {
    position: relative;
    height: 340px;
    background-image: url(../images/login_background_title.jpg);
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;

    .contents {
      text-align: center;

      h1 {
        display: none
      }

      .logo {
        margin-top: 40px;
      }

      .description {
        margin-top: 40px;
        color: @color-gray-500;
        font-size: 20px;
      }
    }
  }

  .center-contents {
    position: relative;
    background-color: @color-bg-white;
    height: 300px;

    .contents {
      position: relative;
      width: @size-site-width;
      margin: 0 auto;

      .site-description {
        position: absolute;
        display: block;
        margin: 0;
        top: 40px;
        font-size: 24px;
        color: @color-gray-800;
      }

      .github-contents {
        position: relative;
        display: block;
        top: 40px;
        left: 250px;
        width: auto;
        text-align: center;

        .github-login {
          display: inline-block;
          // margin: 15px 0 0 auto;
          width: 300px;
          height: 60px;
          background-color: @color-blue-light-600;
          box-shadow: 0 2px 0 0 rgba(0,0,0,0.6);
          line-height: 60px;
          font-size: 24px;
          font-weight: 100;
          color: @color-text-gray;
          text-align: center;
        }

        .github-description {
          display: block;
          color: @color-gray-500;

        }
      }

      .doctor-naming-detail {
        position: relative;
        text-align: center;
        top: 50px;

        .text {
          display: inline-block;
          margin: 15px 0 0 auto;
          width: 320px;
          height: 45px;
          background-color: @color-gray-500;
          box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
          line-height: 45px;
          font-size: 20px;
          font-weight: 100;
          color: @color-text-gray;
          text-align: center;
        }
      }
    }
  }
  .bottom-contents {
    position: relative;
    height: 300px;

    .contents {
      position: relative;
      width: @size-site-width;
      margin: 0 auto;

      .support-contents {
      text-align: center;

      .title {
        margin: 0;
        font-size: 28px;
      }

      .logo {
        margin: 20px;
      }
    }

    .share-contents {
      text-align: center;

      .title {
        margin: 0;
        font-size: 28px;
      }
    }
    }
  }
}