
@import "style";

section {
  .title-dr {

    position: relative;

    h1 {
      display: none
    }
    .background {
      width: 100%;
    }
    .logo {
      position: absolute;
      display: block;
      width: 50%;
      top: 20%;
      left: 25%;
    }
    .description {
      position: absolute;
      display: block;
      top: 55%;
      left: 40%;
      color: @color-gray-500;
      font-size: 26px;
      text-align: center;
    }
  }
}
// h2 {
//   margin: 130px 130px 130px 130px;
// }

// section {
//   height: 60px;
//   background-color: @color-bg-green;

//   .titlee {
//   	h2 {
//   	  margin: 130px 130px 130px 130px;
//   	}
//   }
// }