
// colors

@color-header-bg: #00887A;
@color-page-head-bg: #4CB5AB;
@color-page-bg: #EDEDED;
@color-line-inside: #EDEDED;
@color-text-green: #4CB5AB;
@color-btn-green: #4CB5AB;
@color-text-gray: #EDF2F5;

@size-site-width: 960px;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'メイリオ', Meiryo, 'Lucida Grande', Verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
}

body {
  background-color: @color-page-bg;
}

a {
  text-decoration: none;
}

.site-wrapper {
  margin: 0 auto;
  width: @size-site-width;
}

.h-box {
  display: flex;
}

.btn {
  border-radius: 2px;
}
