
// colors
@color-blue-light-600: #039BE5;
@color-blue-light-300: #4FC3F7;
@color-blue-light-800: #0277BD;
@color-green-light-500: #8BC34A;
@color-red-400: #EF5350;
@color-yellow-400: #FFEE58;
@color-gray-200: #EEEEEE;
@color-gray-300: #E0E0E0;
@color-gray-500: #9E9E9E;
@color-gray-600: #757575;
@color-gray-800: #424242;

// font
.font12px {font-size: 12px;}
.font14px {font-size: 14px;}
.font16px {font-size: 16px;}
.font18px {font-size: 18px;}
.font20px {font-size: 20px;}
.font26px {font-size: 26px;}
.font26px-light {
  font-size: 26px;
  font-weight: lighter;
}

// colors(old)

@color-bg-green: #00887A;
@color-bg-lightgreen: #4CB5AB;
@color-bg-gray: #EDEDED;
@color-bg-white: #FFFFFF;
@color-bg-darkgray: #414141;
@color-text-green: #4CB5AB;
@color-text-light: #606060;
@color-text-lightgray: #DFDFDF;
@color-text-gray: #EDF2F5;
@color-line-dark: #DFDFDF;
@color-line-light: #EDEDED;
@color-btn-green: #4CB5AB;

@size-site-width: 960px;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'メイリオ', Meiryo, 'Lucida Grande', Verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
}

body {
  background-color: @color-bg-gray;
}

a {
  text-decoration: none;
}

a.wrapper {
  display: block;
}

.contents {
  position: relative;
  min-height: 100%;
}

.site-container {
  position: relative;
  margin: 0 auto;
  width: @size-site-width;
}

.h-box {
  display: flex;
}

.btn {
  border-radius: 2px;
}

.smart-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
